{% extends 'datamanager/base2.html' %}
{% load rest_framework %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<div class="container-fluid px-4">
 {% if messages %}
{% for message in messages %}
    <div class="alert {{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
{% endfor %}
    {% endif %}
<label for="inputFirstName" style = "">카테고리</label>
    <div type="" name="" class="form-control" id="">{{ data.category}}</div>
<label for="inputFirstName" style = "">제품명</label>
    <div type="" name="" class="form-control" id=""> {{ data.p_name}}</div>
{#    {{ form.as_p }}#}
    <form action="/price/{{ data.idprice }}/" method="POST" >
        {% csrf_token %}
    <label for="inputFirstName" style = "display: none">{{ form.idprice.label}}</label>
         {{ form.idprice}}
    <input type="hidden" name="idproducts" class="form-control" id="id_idproducts">
    <label for="inputFirstName">{{ form.buyprice.label}}</label>
     {{ form.buyprice}}
     <label for="inputFirstName">{{ form.renew_bp_date.label}}</label>
         {{ form.renew_bp_date|add_class:"datepicker"}}
    <label for="inputFirstName">{{ form.sellprice.label}}</label>
         {{ form.sellprice}}
    <label for="inputFirstName">{{ form.renew_sp_date.label}}</label>
     {{ form.renew_sp_date|add_class:"datepicker"}}
    <label for="inputFirstName">{{ form.remark.label}}</label>
         {{ form.remark}}
    <button class="btn btn-primary js-tooltip" title="" data-original-title="Make a PUT request on the Com Model Instance resource">수정</button>
    </form>
<hr>
{#        <button id="deletePrice" class="btn btn btn-outline-secondary" value="{{ data.idprice }}">삭제</button>#}
</div>

{% endblock %}
