{% extends "rest_framework/base.html" %}
{% load static %}
{#{% block bootstrap_theme %}#}
{#    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />#}
{#    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>#}
{#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" type="text/css">#}
{#{% endblock %}#}
{% block title %} 대하테크윈 데이터관리 {% endblock %}
{#{% block bootstrap_navbar_variant %}{% endblock %}#}
{% block branding %}
    <h3 style="">대하테크윈 데이터관리</h3>
    <button><a style="color: #0c0c0c" href="/">홈으로</a></button>
{% endblock %}
{#{% block userlinks %}#}
{#    {% if user.is_authenticated %}#}
{#        <li class="dropdown">#}
{#            <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
{#                {{ user }}#}
{#                <b class="caret"></b>#}
{#            </a>#}
{#            <ul class="dropdown-menu">#}
{#                <li><a href="#dashboard">Dashboard</a></li>#}
{#                <li>{% optional_logout request %}</li>#}
{#            </ul>#}
{#        </li>#}
{#    {% else %}#}
{#        <li>{% optional_login request %}</li>#}
{#    {% endif %}#}
{#{% endblock %}#}
{#{% block style %}#}
{#    <style>#}
{#    .response-info {visibility: hidden;}#}
{#    </style>#}
{##}
{#{% endblock %}#}

{#{% load static %}#}
{#{% block bootstrap_theme %}#}
{#    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />#}
{#{% endblock %}#}
{#{% block bootstrap_navbar_variant %}{% endblock %}#}